* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.buttonHidden {
    display: none;
}

.hoverItem:hover~.visibleItem {
    display: block;
} */

.min-h-screen {
    min-height: 50vh !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;